<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
  http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

	<display-name>KiraBoot</display-name>

		 
    <listener>
        <listener-class>com.trense.kira.RootBootLoader</listener-class>
    </listener>
	
	<servlet>
        <servlet-name>online</servlet-name>
        <servlet-class>com.trense.kira.OnlineServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>online</servlet-name>
        <url-pattern>/online</url-pattern>
    </servlet-mapping>
	
	<servlet>
        <servlet-name>shutdown</servlet-name>
        <servlet-class>com.trense.kira.ShutdownServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>shutdown</servlet-name>
        <url-pattern>/shutdown</url-pattern>
    </servlet-mapping>
	
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

</web-app>